@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Bhai 2", cursive;
}
body {
background-color: #0b0b05;
  color: whitesmoke;
}

header {
  font-size: 40px;
  padding: 2rem;
  color: #ffffff;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.inputs {
  display: flex;
  justify-content: center;
  width: 65%;
  background: rgb(190, 189, 189);
  color: black;
  padding: 0.5rem;
  border-radius: 6px;
  outline: 2px solid rgb(177, 214, 12);
  outline-offset: 5px;
  border: none;
  gap: 7px;
}
input[type="text"],
button {
  color: black;
  font-size: 20px;
  padding: 0.5rem;
  border-radius: 6px;
  /* outline: 2px solid rgb(177, 214, 12);
  outline-offset: 5px; */
  border: none;
}
button:hover,
input:hover {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: 1px;
}
span {
  float: inline-end;
}
.inputs button {
  background-color: #0b0b05;
  color: #ffffff;
  padding: 1rem;
  border-radius: 40px;
}
button:hover {
  background-color: black;
  color: yellowgreen;
}
input {
  flex: 1;
  min-width: 50%;
}
@media screen and (max-width: 800px) {
  header {
    font-size: xx-large;
  }
  input,
  button {
    padding: 0.7rem;
  }
}
@media screen and (max-width: 460px) {
  header {
    font-size: large;
  }
}
.todo-container {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  width: 65%;
  /* background: rgb(190, 189, 189); */
  color: black;
  /* padding: 0.5rem; */
  border-radius: 6px;
  /* margin-bottom: 20px; */
  outline-offset: 5px;
  border: none;
  gap: 5px;
}
.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  list-style: none;
  border-radius: 6px;
  background: rgb(182, 164, 164);
  outline:2px solid yellowgreen;
  outline-offset: 5px;
  margin-bottom: 10px;
  color: black;
  padding: 0.5rem;
  border-radius: 6px;
  flex-wrap: wrap;
}
.list li:nth-child(even) {
  background-color: aliceblue;
}

.list li p {
  /* display: block; */
  /* max-width: 200px; */
  font-size: 20px;

  /* padding: 0.45rem; */
  /* width: 40%; */
}
.list li button {
  padding: 0.55rem;
  font-size: 25px;
  background: transparent;
}
li button:hover {
  color: rgb(101, 136, 69);
  background-color: #0b0b05;
}
button:hover {
  cursor: pointer;
}
